/* fontshare font bevellier */
@import url('bevellier.css')
/* https://unsplash.com/photos/man-riding-horse-on-green-agave-plants-field-h2-H_7FPbnw */
/* Setup Scrolling */



html, body {
  margin: 0;
  height: 100vh;
  overscroll-behavior: none;
  height: 100vh;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Scroll Container */
.container {
  overscroll-behavior: none;
  width: 500vw; /* number of sections times 100 e.g. five sections is 500vw */
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}

/* Panel Defaults */
.panel {
  
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
  box-sizing: border-box;

  padding: 3em;
}

.one, .two, .three, .four, .five {
  font-family: 'Bevellier-BoldItalic', sans-serif;
  color: white;
}

.one {
  background: url(https://source.unsplash.com/h2-H_7FPbnw) no-repeat center/cover;

}

.two {
  background: url(https://images.pexels.com/photos/10039947/pexels-photo-10039947.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center/cover;
}

.three {
  background: url(https://source.unsplash.com/mdKKM6zMhqc) no-repeat center/cover;
  }
  

  .four {
    background: url(https://images.pexels.com/photos/10040001/pexels-photo-10040001.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center/cover;
  }

.five {
  background: url(https://source.unsplash.com/fulpvaLUX3A) no-repeat center/cover;
}
